
/*Default CSS*/
@font-face {
  font-family: 'Bagel Fat One';
  src: url(./assets/font/BagelFatOne-Regular.ttf);
  font-weight: 500px;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url(./assets/font/RobotoCondensed-Bold.ttf);
  font-weight: 700px;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url(./assets/font/RobotoCondensed-Regular.ttf);
  font-weight: 500px;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url(./assets/font/RobotoCondensed-Light.ttf);
  font-weight: 400px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: normal;
  overflow-x: hidden;
  position: relative;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  color: #fff !important;
  font-family: 'Bagel Fat One' , sans-serif !important;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.home-container {
  font-family: 'Roboto Condensed', italic ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: -10px;
}


.circle-icon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  margin-bottom: 1px;
  
}

.circle-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: #282c34;
}

.about-box {
  
  text-align: center;
  box-shadow: #282c34;
}

.social-icons {
  margin-top: 30px; 
}

.icon {
  margin-right: 30px; 

}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p.success {
  color:green;
}

p.danger {
  color:red;
}

nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32 ease-in-out;
}

nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #282c344f;
}

nav.navbar a.navbar-brand {
  width: 9%;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.8;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}

nav.navbar .navbar-nav .nav-link.navbar-link:hover,
nav.navbar .navbar-nav .nav-link.navbar-link.active {
  opacity: 1;
}

span.navbar-text {
  display: flex;
  align-items: center;
}

.navbar-text button {
  font-weight: 700;
  color:#fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.navbar-text button span {
  z-index: 1;
}

.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position:absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.navbar-text button:hover {
  color: aqua;
}

.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

nav.navbar .navbar-toggle:active,
nav.navbar .navbar-toggle:focus {
  outline: none;
  box-shadow: none;
}

.projectheader {
  font-weight: 900;
  margin-bottom: 50px;
}

.project-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  width: calc(30% - 10px); 
  padding: 20px;
  margin: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #3238445e;
  color: #fff;
  opacity: 20%;
  transition: background-color 0.3s ease; 
  transition: opacity 0.3s ease; 
}

.project-card:hover {
  background-color: #6500d846;
  opacity: 100
}

.project-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.project-card p {
  font-size: 14px;
  margin-bottom: 20px;
}

.project-card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.project-image-container .project-image {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.project-image-container:hover .project-image {
  filter: grayscale(0%);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
